@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="js/userLoggedInListener.js"></script>

<div class="row">
    <div class="col-lg-6">
        <div id="login">
            <iframe src="" id="verify" title="Criipto-Verify" class="hidden-frame"
                    allowfullscreen="true" scrolling="no" frameborder="0">
            </iframe>
        </div>
    </div>
</div>

<div class="row">
    <h3>Sweden</h3>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/logo-e-id-se-bankid.svg" alt="Swedish BankID" />
            <div class="caption text-center">
                <p>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:se:bankid:same-device', 'Home/Login', 'se-language')" class="btn btn-primary" role="button">This device</a>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:se:bankid:another-device', 'Home/Login', 'se-language')" class="btn btn-primary" role="button">Another device</a>
                </p>
                <p>
                    <div class="radio">
                        <label><input type="radio" name="se-language" value="se" checked>Svensk</label>
                        <label><input type="radio" name="se-language" value="en">English</label>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3>Denmark</h3>
</div>
<div class="row">
    <div class="col-sm-7 col-md-5">
        <div class="thumbnail">
            <img src="/images/logo-e-id-dk-nemid.svg" alt="Danish NemID" />
            <div class="caption text-center">
                <p>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:dk:nemid:poces', 'Home/Login', 'dk-language')" class="btn btn-primary" role="button">Citizen</a>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:dk:nemid:moces', 'Home/Login', 'dk-language')" class="btn btn-primary" role="button">Employee</a>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:dk:nemid:moces:codefile', 'Home/Login', 'dk-language')" class="btn btn-primary" role="button">Employee codefile</a>
                </p>
                <p>
                    <div class="radio">
                        <label><input type="radio" name="dk-language" value="da" checked>Dansk</label>
                        <label><input type="radio" name="dk-language" value="en">English</label>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3>Norway</h3>
</div>
<div class="row">
    <div class="col-sm-7 col-md-5">
        <div class="thumbnail">
            <img src="/images/logo-e-id-no-bankid.svg" alt="Norwegian BankID" />
            <div class="caption text-center">
                <p>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:no:bankid', 'Home/Login', 'no-language')" class="btn btn-primary" role="button">OIDC</a>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:no:bankid:central', 'Home/Login', 'no-language')" class="btn btn-primary" role="button">Kodebrikke (obsolete)</a>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:no:bankid:mobile', 'Home/Login', 'no-language')" class="btn btn-primary" role="button">Mobil (obsolete)</a>
                </p>
                <p>
                    <div class="radio">
                        <label><input type="radio" name="no-language" value="nb" checked>Norsk</label>
                        <label><input type="radio" name="no-language" value="en">English</label>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3>Finland</h3>
</div>
<div class="row">
    <div class="col-sm-7 col-md-5">
        <div class="thumbnail">
            <img src="/images/logo-e-id-fi.png" alt="Finnish TUPAS" />
            <div class="caption text-center">
                <p>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:fi:tupas', 'Home/Login', 'fi-language')" class="btn btn-primary" role="button">TUPAS</a>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:fi:mobile-id', 'Home/Login', 'fi-language')" class="btn btn-primary" role="button">Mobile Id</a>
                    <a href="#" onClick="selectStrategy('urn:grn:authn:fi:all', 'Home/Login', 'fi-language')" class="btn btn-primary" role="button">All available</a>
                </p>
                <p>
                    <div class="radio">
                        <label><input type="radio" name="fi-language" value="fi" checked>Suomi</label>
                        <label><input type="radio" name="fi-language" value="se">Svensk</label>
                        <label><input type="radio" name="fi-language" value="en">English</label>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>